body {
  background-color: #f5f5f5;
  font-family: "Noto Sans", sans-serif;
}
.app-container {
  max-width: 650px;
  background: white;
  display: block;
  margin: 70px auto;
  padding: 30px;
  border-radius: 20px;
}

.form-search-input {
  width: 75%;
  padding: 15px;
  margin: 20px 0 0 15px;
  background: #d9d9d9;
  border: none;
  border-radius: 6px;
  font-size: 20px;
}

.form-search-button {
  padding: 15px 25px;
  background-color: #e4c624;
  margin-left: 25px;
  font-size: 20px;
  color: #000000;
  border: none;
  line-height: 1;
  border-radius: 6px;
}

.current-weather {
  display: flex;
  justify-content: space-between;
}

h1 {
  font-size: 52px;
  margin: 60px 0 0 20px;
}
h3 {
  margin: 0 0 40px 22px;
  font-size: 18px;
}

.current-details {
  color: #958d8d;
  margin-left: 22px;
  font-size: 16px;
  line-height: 24px;
}

#temperature-details strong {
  color: #6242bd;
}

.current-temperature {
  display: flex;
  margin: 60px 20px;
}
#icon {
  margin-top: 30px;
}
#current-temperature-icon {
  position: relative;
  font-size: 50px;
}

.current-temperature-value {
  font-size: 130px;
  font-weight: bold;
}

.current-temperature-unit {
  font-size: 38px;
  margin-top: 30px;
}

.weather-forecast {
  display: flex;
  justify-content: space-around;
  max-width: 630px;
  margin: 0 auto;
  padding: 15px;
  border-radius: 6px;
  background-color: #d9d9d9;
  margin-top: 30px;
}

.weather-forecast-day {
  font-size: 20px;
  text-align: center;
  color: #000000;
  font-size: 18px;
  line-height: 20px;
}

.weather-forecast-icon {
  display: block;
  margin: 0 auto;
  width: 88px;
  height: 88px;
}

.weather-forecast-temperatures {
  font-size: 18px;
  color: #6242bd;
  margin-top: 10px;
  display: flex;
  justify-content: center;
}
.weather-forecast-temperatures-max {
  padding: 0 10px 0 0;
  font-weight: bold;
}
.weather-forecast-temperatures-min {
  opacity: 0.5;
  padding: 0 0 0 10px;
}
footer {
  text-align: center;
  font-size: 14px;
  color: #958d8d;
  margin-top: 30px;
}
a {
  color: #bca20f;
}
